.function-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 107px 131px;
  width: 967px;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &--connection-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;

    line {
      stroke: #9ca3af;
      stroke-width: 1.5;
      transition: all 0.3s ease;
    }
  }
}
