.function-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 107px 131px;
  width: 967px;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
