.calculator-node--header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--title {
    margin-left: 7px;
    font-weight: 600;
    line-height: 16.94px;
    font-size: 14px;
    color: #a5a5a5;
  }
}
